<svg 
  xmlns="http://www.w3.org/2000/svg"
  case-sensitive="viewBox"
  ng-attr-height="{{imports.height || 800}}"
  ng-attr-width="{{imports.width || 800}}"
  ng-attr-viewBox="0 0 300 300"
  style="position: absolute;"
  >
  <g
    ng-repeat="path in imports.paths"
  >
    <path
      ng-attr-d="{{path.d}}" 
      stroke="black" 
      ng-attr-fill="{{path.fill || 'white'}}"
      ng-mouseover="path.fill = 'green'"
      ng-mouseleave="path.fill = 'white'"
    >
  </g>
  <g
    ng-repeat="node in imports.nodes"
    ng-attr-transform="translate({{node.x}},{{node.y}})"
  >
    <circle
      ng-attr-r={{imports.nodeSize}}
      fill="black"
      stroke="black"
    />
  </g>
</svg>
